body {
  background-color: black;
  height: 100vh;
}

#background {
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
}

#shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
}

#logo {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem 2rem;
  max-width: 25rem;
  display: none;
}

#social {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem 3rem;
  display: none;
  text-align: right;
}

#social a {
  color: white;
  margin: 0.5rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

#social #by {
  color: white;
  opacity: 0.6;
  line-height: 2rem;
}

@media only screen and (max-width: 42rem) {
  #logo {
    right: 0;
    width: 100%;
    margin: auto;
    padding: 4rem 1em;
  }

  #social {
    margin: 1rem;
  }
}