body {
  background-color: black;
}

#background {
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
}

#shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
}

#logo {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem;
  max-width: 30rem;
  display: none;
}

#social {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 3rem;
  display: none;
}

#social a {
  color: white;
  margin: 0.5rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

@media only screen and (max-width: 700px) {
  #logo {
    padding: 3rem 1em;
    max-width: 26rem;
  }

  #social {
    padding: 1rem;
  }
}