<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  {% if page.title %}
    <title>{{ page.title }} | chiya.dev</title>
  {% else %}
    <title>chiya.dev</title>
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <script async defer data-website-id="f555f542-14e4-47ec-9c64-615f0b8ff286" src="https://a.chiya.dev/umami.js"></script>

  {% if page.style %}
    <style>
      {% include {{ page.style }} %}
    </style>
  {% endif %}
</head>

<body class="container" style="min-height: 100vh;">
  {{ content }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>

  {% if page.script %}
    <script>
      {% include {{ page.script }} %}
    </script>
  {% endif %}
</body>

</html>
